$primary: #fed54a;
$secondary: #f74170;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;

$bg-green-1: #7ad797;

$bg-white-1: #fcfcfc;
$bg-white-2: #f5f5f5;

$font-family-base: 'Barlow', sans-serif;

// #ffd858
// #f74170
// #f77699
// #744ddc
// #8f72e4
// #7ad797
